#title {
    background-color: #ff4c68;
    color: #FFF;

}

.container-fluid {
    padding: 3% 15% 7%;
}

.title-image {
    width: 400px;
    height: 350px;
    border-radius: 0px;
    padding-top: 25px;
    padding-left: 60px;
}

.download-button {
    margin: 5% 3% 5% 0;
}

#names {
    /* background-image: url('images\ pepe/fow bg.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(118, 202, 235);
    color: #FFF
}

.rohith {
    padding: 48px 10px;
}

.lecturer {
    padding: 48px 10px;
}

body {
    /* background-image: url('images pepe/download (2).jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#testimonials {
    color: #FFF;
    text-align: center;
    background-color: #84b1ec;
}

.testimonial-image {
    width: 50%;
    border-radius: 100%;
}

.carousel-item {
    padding: 7% 15%;
}